@(nav : String, customer : models.Pojos.Customer, changes : List[models.Pojos.Change])

@import models.Constant._
@import models.Pojos._
@import util.CommonUtil

@main(title(nav), nav) {
    <script>
    post(function(){
    	
    });
    </script>
    <div class="span9">
	    <ul class="nav nav-pills" style="margin-bottom:0px">
	    <li><a href="/customer">全部客户</a></li>
	    <li><a href="/customer/insert">添加客户</a></li>
	    </ul>
	</div>
	<div class="span9">
	<h3 style="display:inline; padding:0px; margin:0px; vertical-align:bottom; padding-left:8px">@customer.name</h5>
	<ul class="nav nav-pills" style="margin:0px; display:inline-block; padding:0px; vertical-align:bottom">
	<li><a href="@routes.Application.sellhistory(customerId=customer.id)">购物历史</a></li>
    <li class="disabled"><a href="@routes.Application.showCustomer(customer.id)">详情</a></li>
    <li><a href="@routes.Application.billCustomer(customer.id)">变更帐务</a></li>
    <li><a href="@routes.Application.updateCustomer(customer.id)">编辑</a></li>
    </ul>
	</div>
	<div class="span9"><table class="table table-hover table-striped" style=" padding-left:12px">
		<thead><tr>
		<th>客户姓名</th>
		<th>性别</th>
		<th>积分</th>
		<th>款项</th>
		<th>联系方式</th>
		<th>&nbsp;</th>
		</tr></thead>
		<tbody>
		<tr>
		<td>@customer.name</td>
		<td>@Constant.sex(customer.sex)</td>
		<td>@customer.credit</td>
		<td>¥@util.CommonUtil.format(customer.money/100.0)</td>
		<td>@customer.mobile</td>
		</tr>
		</tbody>
	</table></div>
	@if(0 == changes.length){
	<div class="span9"><p class="well">没有账务历史数据</p></div>
	}else{
		<div class="span9"><table class="table table-hover table-striped">
		<thead><tr>
		<th>购物积分</th>
		<th>款项</th>
		<th>变更时间</th>
		<th>变更原因</th>
		<th>备注</th>
		</tr></thead>
		<tbody>
		@for(change <- changes){
		<tr>
		<td>@change.credit</td>
		<td>¥@util.CommonUtil.format(change.money/100.0)</td>
		<td>@CommonUtil.format1(change.opTime)</td>
		<td>@models.Constant.CustomerChangeCause(change.cause)</td>
		<td>@change.remark</td>
		</tr>
		}
		</tbody>
		</table></div>
	}
}
