@(nav: String, form: Form[models.Pojos.Customer], customer : models.Pojos.Customer)

@import models.Constant._
@import models.Pojos._
@import util.CommonUtil.textareaField1
@import util.CommonUtil

@main(title(nav), nav) {
    <script>
    post(function(){

    });
    </script>
    <div class="span9">
	    <ul class="nav nav-pills" style="margin-bottom:0px">
	    <li><a href="/customer">全部客户</a></li>
	    <li><a href="/customer/insert">添加客户</a></li>
	    </ul>
	</div>
	<div class="span9">
	<h3 style="display:inline; padding:0px; margin:0px; vertical-align:bottom; padding-left:8px">@customer.name</h5>
	<ul class="nav nav-pills" style="margin:0px; display:inline-block; padding:0px; vertical-align:bottom">
	<li><a href="@routes.Application.sellhistory(customerId=customer.id)">购物历史</a></li>
    <li><a href="@routes.Application.showCustomer(customer.id)">详情</a></li>
    <li><a href="@routes.Application.billCustomer(customer.id)">变更帐务</a></li>
    <li class="disabled"><a href="@routes.Application.updateCustomer(customer.id)">编辑</a></li>
    </ul>
	</div>
	<div class="span9">
	@helper.form(action = routes.Application.updateCustomer1(customer.id)) {
	    @helper.inputText(form("name"), '_label -> "客户姓名")
	    @views.html.select(
                form("sex"), 
                options1 = List(("0", "未知"), ("1", "男"), ("2", "女")),
                '_label -> "性别", 
                '_help -> " "
            )
	    @helper.inputText(form("mobile"), '_label -> "联系方式", '_help -> "多个号码以逗号分隔")
	    <div class="actions">
			<input type="submit" class="btn btn-primary" value="保 存">
		</div>
	}
	</div>
	
}
