@(nav : String, form : Form[String], notes : List[models.Pojos.ReadableNote], pageIndex : Int, pageCount : Int, pagePrefix : String)

@import models.Constant._
@import models.Pojos._
@import util.CommonUtil.textareaField0

@main(title(nav), nav) {
    <script>
    post(function(){
    	
    });
    </script>
    <div class="span9" id="inputform">
    @helper.form(action = routes.Application.insertNotepad) {
	    @helper.textarea(form("content"), 'rows -> 6, 'cols -> 600, '_label -> "请输入记事", 'class -> "input-block-level", 'placeholder -> "请输入记事内容...")
	    <div class="actions">
			<input type="submit" class="btn btn-primary" value="保 存">
		</div>
	}
	</div>
	@if(0 == notes.length){
	<div class="span9"><p class="well well-large">没有记事</p></div>
	}else{
		@for(note <- notes){
		<div class="span9">
		<p class="text-left">@note.time&nbsp;&nbsp;&nbsp;@note.operator</p>
		</div>
		<div class="span9">
		<p class="text-left well well-large">@note.content</p>
		</div>
		}
		<div class="span9">@pager(pageCount, pageIndex, pagePrefix, "goto")</div>
	}
}
